block aboutme

  P I am a PhD student under the supervision of Dr. Daniel Wong, in the CSE department at University of California, Riverside (UCR).
  P I work on the intersection of machine learning systems and energy-efficient computing. I have extensive experience in designing software and hardware systems for machine learning applications in diverse computational environments, ranging from embedded systems (FPGA/Raspberry Pi) to multi-GPU systems and data centers. Currently, I am exploring system and architectural limitations of autonomous vehicle's software pipeline, and challenges in integrating edge computing devices in autonomous vehicles.
  P Recent highlights include:
  ul
    li
      p #[strong ML Accelerators:] developed accelerated deep learning solutions in embedded resource-constrained environments.
    li
      p #[strong Systems for ML:] profiling and evaluating bottlenecks and energy-efficiency of multi-GPU ML systems in the production pipeline.
    li
      p #[strong ML for Systems:] reinforcement learning-based power and resource management for co-located cloud and ML workloads.