block newsInfo
  // Number of posts to be shown at the home page
  - newsHighlights = 3

  // News info container
  -
    var news = [
      {
        title: 'I will be joining Motional as Software Engineer Intern (World Simulation), in Winter\'21.',
        date: 'Dec. 2020'
      },
      {
        title:'Our paper, "GPU-NEST: Characterizing Energy Efficiency of Multi-GPU Inference Servers," has been accepted in IEEE Computer Architecture Letters (Volume: 19, Issue: 2, July-Dec. 1 2020).',
        date: 'Sep. 2020'
      },
    ];
