block papersInfo
  // Papers info container
  -
    var papers = [
      {
        venue: 'CAL',
        info: 'A. Jahanshahi, H. Z. Sabzi, C. Lau and D. Wong,\"GPU-NEST: Characterizing Energy Efficiency of Multi-GPU Inference Servers," in IEEE Computer Architecture Letters, vol. 19, no. 2, pp. 139-142, 1 July-Dec. 2020, doi: 10.1109/LCA.2020.3023723.',
        link: '/~ajaha004/files/GPU-NEST.pdf'
      },
      {
        venue: 'Big Data',
        info: 'M. Karimi, strong A. Jahanshahi, A. Mazloumi and H. Z. Sabzi, "Border Gateway Protocol Anomaly Detection Using Neural Network," in IEEE International Conference on Big Data (Big Data), Los Angeles, CA, USA, 2019, pp. 6092-6094, doi: 10.1109/BigData47090.2019.9006201.',
        link: '/~ajaha004/files/BGP.pdf'
      },
      {
        venue: 'CADS',
        info: 'A. Jahanshahi, M. K. Taram and N. Eskandari, "Blokus Duo Game on FPGA," The 17th CSI Int. Symp. Computer Architecture & Digital Systems (CADS 2013), Tehran, 2013, pp. 149–152, doi: 10.1109/CADS.2013.6714256.',
        link: '/~ajaha004/files/Blokus.pdf'
      },
    ];
