block params
  // Website critical info
  - let baseURL = '~ajaha004'                         // Base URL of the website
  - let websiteLongTitle = 'Ali Jahanshahi'           // Shown on the header of the website
  - let websiteShortTitle = 'Ali Jahan'               // Shown on different sections of the website
  - let pictureURL = '/' + baseURL + '/files/pic.jpg' // Shown above the menu

  // HomePage settings
  - let enableHomePageNews = true   // Enables the 'Recent News' section at the homepage
  - let newsHighlights = 3          // Number of posts to be shown at the homepage

  // Website menu sections
  - let enableBlog = true           // Enables the Blog section on the website Menu and homepage
  - let blogPostHighlights = 3      // Number of posts to be shown at the homepage
  - let enableNewsMenu = true       // Enables the News section on the website Menu
  - let enableProjectsMenu = true   // Enables the Projects section on the website Menu

  // Contact info
  - let linkedinEnable = true       // Shows Linkedin info on website (below menu and footer)
  - let githubEnable = true         // Shows Github info on website (below menu and footer)
  - let linkedinURL = 'https://www.linkedin.com/in/alijahanshahi/'
  - let githubURL = 'https://github.com/AliJahan'