block postsInfo
  // Posts info container
  -
    var posts = [
      {
        title: 'AMD ROCm Documentation',
        path: 'rocm-documentation',
        date: 'Nov. 2020',
        tldr: "My documentation of AMD ROCm software stack (in progress)."
      },
      {
        title: 'cuDNN Conv. Algorithm Selection in PyTorch',
        path: 'cudnn-conv-algorithm-pytorch',
        date: 'Oct. 2020',
        tldr: "Enabling PyTorch users to select cuDNN convolution algorithm"
      },
    ];
