block projectsInfo
  -
    var projects = [
      {
        name: 'Adding a New CPUIdle Governor to Linux Kernel for HPC Applications',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'The patch to be published on github',
        lib: ['C'],
        tags: ['Linux Kernel', 'CPUIdle', 'HPC']
      },
      {
        name: 'Implementation of a Machine Learning Based Border Gateway Protocol (BGP) Anomaly Detection',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Graduate Data Mining course final project',
        lib: ['Python', 'MATLAB'],
        tags: ['BGP', 'ML']
      },
      {
        name: 'A Brief Review on Some Architectures Providing Support for DIFT',
        img: '',
        link: 'https://arxiv.org/abs/1911.05664',
        source: '',
        platform: [],
        description: 'Computer Architecture Security course',
        lib: [],
        tags: ['Computer Architecture', 'Security', 'DIFT', 'RISC-V', 'Rocket', 'Open-source Hardware']
      },
      {
        name: 'Design and Implementation of Tiny Modular CNN Accelerator for Embedded FPGA',
        img: '',
        link: 'https://arxiv.org/abs/1911.06777',
        source: '',
        platform: ['PYNQ FPGA Board'],
        description: 'DAC 2019 System Design Contest, Graduate Computer Vision course final project',
        lib: ['CHISEL', 'Python', 'Keras', 'TensorFlow'],
        tags: ['CNN', 'ML', 'FPGA', 'Accelerator']
      },
      {
        name: 'Implementation of an LLVM pass for Path Profiling Based on Ball-Larus Method',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Graduate Compiler Construction course project',
        lib: ['C/C++'],
        tags: ['Compiler', 'LLVM', 'Instrumentation']
      },
      {
        name: 'Adding Support for Resource Reservation to Linux Kernel',
        img: '',
        link: '',
        source: 'https://github.com/AliJahan/RealtimeKernel',
        platform: ['Raspberry Pi'],
        description: 'Resource Reservation (using system sall), Resource Reservations Report (using kernel module), Periodic Task Support (using system call and hr_timer), Budget overrun notification (using signal), Schedulability  test, Partitioning policies (Best-fit, Worst-fit, and First-fit) by Sysfs interface',
        lib: ['C'],
        tags: ['Real-time OS', 'Embedded Systems']
      },
      {
        name: 'Collaborated in GPU Accelerated Network Function Virtualization (NFV) Project',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Collaborated in the project led by Kiran Ranganath and Marcus Chow',
        lib: ['CUDA', 'C/C++', 'DPDK'],
        tags: ['GPGPU', 'Accelerator']
      },
      {
        name: 'Implementation of AES-GCM Authenticated Encryption Hardware Accelerator',
        img: '',
        link: '',
        source: '',
        platform: ['Zynq FPGA Board'],
        description: 'Used as a component of cryptographic accelerator engine of a hardware security module (HSM)',
        lib: ['CHISEL'],
        tags: ['Cryptography', 'Accelerator', 'HSM']
      },
      {
        name: 'Implementing a Graph Processing Framework for Evolutionary Dynamics of Complex Networks',
        img: '',
        link: '',
        platform: [],
        lib: ['C/C++'],
        description: '',
        tags: ['Complex Systems', 'Graph', 'Evolutionary Dynamics', 'HPC', 'Multi-threading']
      },
      {
        name: 'Devepoling User-space API and Kernel Driver for Exposing Hardware Accelerators to Software Stack',
        img: '',
        link: '',
        platform: ['Zynq FPGA Board'],
        lib: ['C/C++'],
        description: 'Hardware security module (HSM) project',
        tags: ['Cryptography', 'HSM']
      },
      {
        name: 'Design and Implementation of High-level Synthesis Framework for Approximate Sequential Circuits',
        img: '',
        link: '',
        platform: [],
        lib: ['C/C++', 'Gurobi Optimizer'],
        description: '',
        tags: ['HLS', 'Approximate Computing', 'Linear Programming']
      },
      {
        name: 'Design of a Simple MUX-Based FPGA Chip',
        img: '',
        link: '',
        platform: [],
        lib: ['Verilog', 'Java', 'Synopsys Design Compiler'],
        description: '',
        tags: ['ASIC Design', 'FPGA']
      }
      // {
      //   name: 'Multiprocessor Scheduling and Admission Control',
      //   img: '',
      //   link: '',
      //   description: 'A website I made for Santa Clara students to streamline class registration.  Used by over 90% of students.',
      //   tags: ['Angular.js', 'Ruby on Rails', 'Bootstrap', 'PostgreSQL']
      // },
      // {
      //   name: 'SCU•books',
      //   img: 'scubooks.png',
      //   link: 'http://scubooks.com',
      //   description: 'A website for Santa Clara students to save money on their textbooks. Personalized to your schedule.',
      //   tags: ['Angular.js', 'Ruby on Rails', 'Bootstrap', 'PostgreSQL']
      // },
      // {
      //   name: 'Powder Keg Brewing Company',
      //   img: 'pkbc.png',
      //   link: 'http://www.powderkegbrewingcompany.com',
      //   source: 'https://github.com/scott113341/powderkegbrewingcompany',
      //   description: 'The website for Powder Keg Brewing Company, a new craft brewery in Niwot, Colorado.',
      //   tags: ['Ruby on Rails', 'Angular.js']
      // }
    ]