block reviewInfo
  // External review info container
  -
    var venues = [
        'The Journal of Supercomputing',
        'Transactions on Computers(TC)',
        'Design Automation Conference(DAC)',
        'Integration, the VLSI Journal(VLSIJ)',
        'IEEE, Internet of Things Journal(IoT)',
        'IEEE, Computer Architecture Letters(CAL)',
        'IEEE International Parallel and Distributed Processing Symposium(IPDPS)',
    ];
