extends ../_templates/_layouts/default.pug

block vars
  - title = 'Ali Jahan · Blog'
  - navPage = 'blog'
  include ../params/posts

block content
  #blog
    h1 Blog
    each post in posts
      .post
        h2
          a(href='/~ajaha004/blog/' + post.path)= post.title
          small= post.date
        p!= post.tldr