extends ../_templates/_layouts/default.pug

block vars
  - title = 'Ali Jahan · Blog'
  - navPage = 'blog'
  include ../params/posts

block content
  #blog
    h1 Blog
    .post
    h2
    table
      each post, index in posts
          tr
            td(class='post-cell')
              a(href='/~ajaha004/blog/' + post.path)= post.title
              small= ", "+post.date
              br
              small= post.tldr
          tr
            td(class='space-cell')