extends ../_templates/_layouts/default.pug


block vars
  - title = 'Ali Jahan · Resume'
  - navPage = 'resume'


block content
  #resume
    h1 Resume

    .general-info
      p #[strong Email]: ajaha004(at)ucr(dot)edu
      p #[strong Phone]: #[a(href='tel://1-951-250-2271') (951) 250-2271]
      p.only-print #[strong Website]: #[a(href='http://www.cs.ucr.edu/~ajaha004/') www.cs.ucr.edu/~ajaha004]
      p #[strong Github]: #[a(href='https://github.com/alijahan') github.com/AliJahan]
      p #[strong LinkedIn]: #[a(href='https://www.linkedin.com/in/alijahanshahi') linkedin.com/in/alijahanshahi]
      h2 To be completed
      .section-2
        h3 This page is under construction. Here are some information.
      h2 Skills
      .section-2
        h3 Practical Skills
        ul
          li SoC Design on Zynq, Emedded Linux on Zynq, Linux Kernel Module, Combinatorial Programming

        h3 Software Description Languages
        ul
          li C/C++, Python, CUDA, PHP, MPI, OpenMP, Java, C#, Scala
        h3 Hardware Description Languages
        ul
          li CHISEL, Verilog, VHDL, SystemC, TML
        h3 Tools
        ul
          li Vivado Design Suite
    .section-1
      h2 Education
      .section-2
        h3 Shahid Beheshti University | 2009-2013 | Tehran, Iran
        h4 Bachelor of Science, Computer Engineering
      .section-2
        h3 University of Tehran | 2013-2016 | Tehran, Iran
        h4 Master of Science, Computer Architecture
      .section-2
        h3 University of California, Riverside | 2017-now | CA, USA
        h4 Doctor of Philosophy, Computer Science
    .section-1
      h2 References
      p Available upon request
