@import '../components/colors';


#blog {
  .post {
    padding-bottom: 10px;

    h2 {
      margin-bottom: 3px;

      small {
        color: @border-gray;
        padding-left: 7px;
        white-space: nowrap;
      }
    }

    p {
      margin: 4px 0 0;
    }
  }
}
