@import '../components/colors';

#home {

  .me {
    @width: 80px;
    border-radius: @width / 2;
    margin-right: 10px;
    width: @width;
    clip-path: circle(50% at 50% 50%);
  }

  .papers {
    padding-left: 20px;
  }

  .contact {
    list-style: none;
  }

  td {
    &.date-cell {
      width: 60px;
      height: 40px;
      padding: 2px;
      text-align: center;
      background: @nav-active;
      color: white;
    }
    &.data-cell {
      padding: 2px 2px 2px 5px;
      text-align: left;
      color: black;
    }
    &.space-cell {
      padding: 2px;
      //text-align: left;
      background: white;
    }
  }
}
