extends ../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'Living in my Car'
  - postDate = 'August 30, 2015'


block post
  p Starting on Tuesday, September 1st, I will be living out of my car.

  p I'm excited and nervous.  Excited because I've always wanted to try this, just to see what it's like.  Nervous because I'm rushing headlong and unprepared into a cloud of unknowns.  Fortunately, I don't have to continue living in my car if I hate it.  But this is the perfect opportunity to try.

  h2 Planned Daily Schedule

  ol
    li Wake up around 6am
      ul
        li Sleep in my car in the eBay parking lot
        li Wake up when the sun rises, which should be easy because it'll get really bright

    li Go to Planet Granite every morning
      ul
        li Exercise (indoor bouldering, gym, or run)
        li Shower, shave (towels provided)

    li Go to work
      ul
        li eBay has free breakfast every morning, which is great
        li Also, free fruit
        li Lunch will be cereal, leftovers, or eating out

    li Go to a library
      ul
        li Northside Branch Library or Santa Clara University Library seem solid
        li Read and/or work on side projects

    li Hang out with friends
      ul
        li This will be a big one, and an area where I'm anticipating my life to improve.  Since I don't want to go home (aka sit in my car), it will propel me to spend more time with friends
        li No more video games (no more desktop PC)

    li Eat dinner
      ul
        li Cooking out of my car might be difficult
        li Eating out isn't very healthy; Whole Foods buffet is a notable exception
        li I'll likely cook at least a meal or two each week at Vanessa's and eat with her

    li Go to sleep around 11pm


  h2 Anticipated Difficulties

  ul
    li Cooking for myself and doing dishes
    li Keeping my car (and its contents/inhabitant) from smelling bad
    li Doing laundry
    li Regulating temperature while sleeping

  p But my biggest fear going into this endeavour is that I'll be too dependent on Vanessa's house as a "home base".  Being cognizant of this will surely help, but it will definitely be a fuzzy line since I want to spend a lot of time with her.  I don't want to mooch, but I want to be with her a lot.  We've agreed to be very open in our communication about this.

  h2 Things to Have in my Car

  p I have to immensely strip down the amount of stuff I bring with me, since my car is pretty small.  Vanessa has graciously allowed me to keep most of my stuff in her basement storage room, so I won't have to rent a storage unit.  The few things I plan on always having with me are:

  ul
    li Laptops and chargers
    li Mouse and mousepad
    li Power inverter
    li Clothes (maybe 10 days' worth)
    li Workout clothes
    li Duffel bag
    li Laundry bag
    li Ziploc bags
    li Trash bags
    li Toothbrush, toothpaste, deodorant, floss picks, retainer
    li Shampoo, body wash, washcloth, towel
    li Electric razor, comb, nail clippers
    li Hand sanitizer
    li Paper towels
    li Spork
    li Knife
    li 24oz, 40oz, 64oz Hydroflask water bottles
    li Headlamp
    li Futon (this is my current bed)
    li Blanket
    li Pillow
