extends ../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'Hessie Loop Backpacking Trip'
  - postDate = 'June 5, 2016'


block post
  p Just got back from a 3-day backpacking trip in the Indian Peaks Wilderness.  It was a really fun trip with Rachel Wilmoth and Katrina Van Gasse (who I somehow hadn't met before).

  p Photo album is <a href="https://goo.gl/photos/eMpN5H3bzM8tModk7" target="_blank">here</a>.

  include:marked ./trail-log.md
