extends ../_templates/_layouts/default.pug


block vars
  - title = 'Ali Jahan · Papers'
  - navPage = 'papers'


block content
  #papers
    h2 Papers
    ul.papers
      li #[strong A. Jahanshahi], M. K. Taram and N. Eskandari, Blokus Duo game on FPGA, The 17th CSI Int. Symp. Computer Architecture & Digital Systems (CADS 2013), Tehran, 2013, pp. 149–152, doi: 10.1109/CADS.2013.6714256.