#footer.no-print
  div.container
    div.row
      div.col-xs-6.left
        p
          a(href='https://github.com/AliJahan')
            svg.icon
              use(xlink:href='/~ajaha004/icons.svg#icon-github-alt')
          a(href='https://www.linkedin.com/in/alijahanshahi/')
            svg.icon
              use(xlink:href='/~ajaha004/icons.svg#icon-linkedin')
//      div.col-xs-6.right
//        p
//		| View source code
//          a(href='https://github.com/scott113341/website')

