#footer.no-print
  div.container
    div.row
      div.col-xs-6.left
        if linkedinEnable || githubEnable
          p
            if githubEnable
              a(href=githubURL)
                svg.icon
                  use(xlink:href='/' + baseURL + '/icons.svg#icon-github-alt')
            if linkedinEnable
              a(href=linkedinURL)
                svg.icon
                  use(xlink:href='/' + baseURL + '/icons.svg#icon-linkedin')