- a = 'active'

ul#nav.no-print
  img(src=pictureURL)

  li(class=(navPage === 'home' ? a : ''))
    a(href='/' + baseURL + '/') Home
  if enableBlog
    li(class=(navPage === 'blog' ? a : ''))
      a(href='/' + baseURL + '/blog') Blog
  if enableNewsMenu
    li(class=(navPage === 'news' ? a : ''))
      a(href='/' + baseURL + '/news') News
  if enableProjectsMenu
    li(class=(navPage === 'projects' ? a : ''))
      a(href='/' + baseURL + '/projects') Projects
  hr
  if linkedinEnable || githubEnable
    li(class=('info'))
      if githubEnable
        a(href=githubURL)
          svg.icon
            use(xlink:href='/' + baseURL + '/icons.svg#icon-github-alt')
      if linkedinEnable
        a(href=linkedinURL)
          svg.icon
            use(xlink:href='/' + baseURL + '/icons.svg#icon-linkedin')
      br
      br
  //fhr
