- a = 'active'

ul#nav.no-print
  img(src="/~ajaha004/files/pic.jpg")
  li(class=(navPage === 'home' ? a : ''))
    a(href='/~ajaha004/') Home
  li(class=(navPage === 'blog' ? a : ''))
    a(href='/~ajaha004/blog') Blog
  li(class=(navPage === 'news' ? a : ''))
    a(href='/~ajaha004/news') News
  li(class=(navPage === 'projects' ? a : ''))
    a(href='/~ajaha004/projects') Projects
  hr
  li(class=('info'))
    a(href='https://github.com/AliJahan')
      svg.icon
        use(xlink:href='/~ajaha004/icons.svg#icon-github-alt')
    a(href='https://www.linkedin.com/in/alijahanshahi/')
      svg.icon
        use(xlink:href='/~ajaha004/icons.svg#icon-linkedin')
    br
    br
  //fhr
