- a = 'active'


ul#nav.no-print
  li(class=(navPage === 'home' ? a : ''))
    a(href='/~ajaha004/') Home
  li(class=(navPage === 'resume' ? a : ''))
    a(href='/~ajaha004/resume') Résumé
  li(class=(navPage === 'projects' ? a : ''))
    a(href='/~ajaha004/projects') Projects
//  li(class=(navPage === 'blog' ? a : ''))
//    a(href='/~ajaha004/blog') Blog

