extends ./default.pug

block vars
  - title = websiteShortTitle + ' · Blog'
  - navPage = 'blog'


block content
  block postData

  #blog-post
    .row
      .col-sm-8
        p
          a(href='/' + baseURL + '/blog') Back to blog

        h1= postTitle
        h4= postDate
        fhr
        block post
