@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

.xs(@rules) {
  @media (max-width: @screen-sm-min) { @rules(); }
}
.sm(@rules) {
  @media (min-width: @screen-sm-min) { @rules(); }
}
.md(@rules) {
  @media (min-width: @screen-md-min) { @rules(); }
}
.lg(@rules) {
  @media (min-width: @screen-lg-min) { @rules(); }
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

hr{
  border: 0;
  clear: both;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: @border-gray;
  height: 1px;
}


hhr{
  margin-left: auto;
  margin-right: auto;
  border: 0;

  clear: both;
  display: block;
  width: 15%;
  background-color: @border-gray;
  height: 1px;
}



fhr{
  margin-left: auto;
  margin-right: auto;
  border: 0;

  //clear: both;
  display: block;
  width: 90%;
  background-color: @border-gray;
  height: 1px;
}