extends ./_templates/_layouts/default.pug


block content
  #home
    h1 #[img.me(src="/~ajaha004/files/pic.jpg")] Hi, I'm Ali
    //p #[strong Formally], I'm a research assistant from Boulder, Colorado who specializes in web development.
    //p #[strong Informally], I'm someone who loves the outdoors, good beer, and great company.
    br
    //p - From #[a(href='https://en.wikipedia.org/wiki/Sirjan') Sirjan], #[a(href='https://en.wikipedia.org/wiki/Kerman') Kerman], #[a(href='https://www.youtube.com/watch?v=6l7n1frqZoY') Iran].
    p - Joined #[a(href='http://www.danielwong.org/socal.html') SOCAL] in Fall 2017 as research assistant.
    //p - Find my resume #[a(href='https://www.cs.ucr.edu/~ajaha004/files/AliJahanshahi_Resume.pdf') here] (updated 09/09/2019)
    //ul
    //  li Research assistant at
    //  li Enjoying any and all time spent with my wonderful friends
    //  li Continuing side projects, weekend adventures, and open source work
    //  li Living in mid-Sunset San Francisco
    br
    p Contact me via:
    ul.contact
      //li
      //  strong Email: (pagetitle)91(aT)gmail(dOt)com
      li
        strong GitHub: #[a(href='https://github.com/alijahan') github.com/alijahan]
      li
        strong LinkedIn: #[a(href='https://www.linkedin.com/in/alijahanshahi') linkedin.com/in/alijahanshahi]
