extends ./_templates/_layouts/default.pug


block content
  #home
    h1 #[img.me(src="/~ajaha004/pic.jpg")] Hi, I'm Ali
    p #[strong Formally], I'm a software engineer (and bioengineer) from Boulder, Colorado who specializes in web development.
    p #[strong Informally], I'm someone who loves the outdoors, good beer, and great company.
    br
    p I am currently:
    ul
      li Writing software full-time at #[a(href='http://mybrightwheel.com') brightwheel], an early education software startup
      li Enjoying any and all time spent with my wonderful friends
      li Continuing side projects, weekend adventures, and open source work
      li Living in mid-Sunset San Francisco
    br
    p Get in touch with me via:
    ul.contact
      li
        strong Email:
        a(href='mailto:scott.the.hardy@gmail.com')  scott.the.hardy@gmail.com
      li
        strong GitHub:
        a(href='https://github.com/scott113341')  github.com/scott113341
      li
        strong LinkedIn:
        a(href='https://www.linkedin.com/in/scott113341')  linkedin.com/in/scott113341
