extends ../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'First Post'
  - postDate = 'June 22, 2014'


block post
  p This is my first blog post, mostly for testing purposes to make sure my code works, but I might as well ramble about the ill-defined nature of this blog.

  p I'm not really sure how often I'll be posting on here or what I'll be posting about, but I've long wanted a blog where I can at least jot down my thoughts.  Since I was already coding my personal website, I figured I'd add in some blogging functionality!  Hopefully I can interest people from time to time with whatever I decide to write about.

  p Thanks for reading.

  p &#8212; Ali
