extends ../../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'Toilet Paper Holder'
  - postDate = 'November 12, 2015'


block post
  p Matt, Ryan, and I have pretty much fully moved in to our new house in San Francisco.  It's great, except for one glaring issue:

  p <strong>The toilet paper holder is too small for our toilet paper.</strong>


  h2 Problem

  p As you can see, the alcove is not large enough to accommodate a Costco-sized fresh roll and allow it to rotate.

  a(href='http://i.imgur.com/NYeuqr6.jpg')
    img(src='http://i.imgur.com/NYeuqr6l.jpg')


  h2 Solution

  p Design and 3d print a custom holder for the roll!  I spent a week or so iterating on a design, and eventually got a great solution!

  p
    a(href='http://i.imgur.com/IY6Ixgz.jpg')
      img(src='http://i.imgur.com/IY6Ixgzl.jpg')

  p
    a(href='http://i.imgur.com/dCHSrse.jpg')
      img(src='http://i.imgur.com/dCHSrsem.jpg')


  p The final design has these features:

  ul
    li Cantilever to shift the TP axis of rotation out from the wall 6cm, and upwards 1cm
    li Protrusions to brace the assembly so that it does not rotate downwards
    li A friction-fit mate between the left and right sides of the assembly

  p Final picture of the holder in action:

  a(href='http://i.imgur.com/KBiUaDS.jpg')
    img(src='http://i.imgur.com/KBiUaDSl.jpg')
