extends ../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'The Colorado Trail'
  - postDate = 'August 25, 2014'


block post
  p I just finished up an 8-day, 100-mile solo backpacking trip along part of the <a href="http://www.coloradotrail.org" target="_blank">Colorado Trail</a>, a 500-mile trail that goes across the Colorado Rocky Mountains from Denver to Durango.  I only made it as far as Breckenridge, but it was still an amazing trip.

  p I originally planned for a 10-day trip, but by 8 days I was lonely and starting to feel the physical effects of being on the trail for so long.  I took all of my gear/food with me on the trail (no resupplies), and to start out my pack weighed 48.7 pounds.

  p Below is my trail log, which I wrote out on my cell phone each night before I went to sleep.  You can see the <a href="https://www.facebook.com/media/set/?set=a.10203138226791318.1073741835.1076500446&type=1&l=e907629763" target="_blank">photos I took</a> on my Facebook album.


  h2 Day 1
  p Hiked up Waterton Canyon. Big wide road. Had to stop once for rain/lightning for about 5 minutes. Ran into two people just finishing up their trip from Durango! They said they left free food at the Fairplay rec center.

  p Left Waterton Canyon and trail got steeper. Bear Creek had healthy flow, West Bear Creek was a trickle. Refilled water at Bear Creek, including both squeeze pouches. Dumped out one when I felt how heavy my pack was.

  p Getting late, so made camp. Camped on a ridge which intersects a 4WD road that I didn't see.

  p <strong>Dinner</strong>: Mountain House Long Grain and Wild Rice Pilaf (4.5/5)
  p
    span <strong>Time</strong>: 1:30 - 7:00 (5.5 hours)
    br
    span <strong>Distance</strong>: 10.8 mi
    br
    span <strong>Total</strong>: 10.8 mi


  h2 Day 2
  p Summited the ridge and then had a long descent down to the South Platte River. Refilled water and began the long ascent back up the other side of the valley.

  p About half of this ascent was through a burned area. No trees had started growing back, but there was a lot of desert-like vegetation like cactus and yucca.

  p The second half got into the trees, which was good because it rained for about an hour and a half. By the end, the 6.5 miles of nonstop uphill after the river took their toll and I stopped at a campsite off the trail.

  p I have 64 ounces of water left for the 3.5 mile trip to the Buffalo Creek Firehouse, more than plenty. So far I have managed my food and water well, all my gear is in good working order, and there have been surprisingly few bugs!

  p <strong>Dinner</strong>: Mountain House Lasagna with Meat Sauce (5/5)
  p
    span <strong>Time</strong>: 10:00 - 6:30 (8.5 hours)
    br
    span <strong>Distance</strong>: 12.6 mi
    br
    span <strong>Total</strong>: 23.4 mi


  h2 Day 3
  p Woke up early this morning and decided it was a good day to catch up on some miles. In order to reach Leadville in ten days, I have to average 15 miles per day. Days 1 and 2 were less than that, so it was time to get some work done!

  p Broke camp and wormed through the west side of the burn area, then descended down to the road that leads to the town of Buffalo Creek. Still had plenty of water so didn't go to the Firehouse.

  p The area past Little Scraggy Trailhead is awesome. Saw a few bikers and got my first glimpse of Mount Evans and Bierstadt off to the west, where I'll be approximately heading. This area looks like it could be  some of the best mountain biking I've seen outside of Moab, Utah. And it's close, only a three day hike from Denver!

  p It rained on and off throughout the afternoon. The vegetation is really diverse here, with tons of different microclimates giving rise to their own sections of forest.

  p After crossing Buffalo Creek I was tired and ready to call it a day. But I wanted to make up that lost milage so I pressed on four more grueling miles to make it to my campsite next to a stream, meadow, and aspen grove.

  p Looking at the elevation graph for tomorrow's hike, I think I made the right choice. Tomorrow I get to climb over 3,200 feet and <i>almost</i> hit 11,000 feet. If I'm going to hit my 15 miles then starting from where I'm at right now will give me the best shot.

  p A huge thunderstorm came through and I had to leave my tent to take cover down near the stream for an hour. No close lightning strikes but I felt safer.

  p <strong>Dinner</strong>: Snacks. Too tired to cook.
  p
    span <strong>Time</strong>: 9:15 - 7:00 (9.75 hours)
    br
    span <strong>Distance</strong>: 16.8 mi
    br
    span <strong>Total</strong>: 40.2 mi


  h2 Day 4
  p Today got off to a slow start. The morning was cold, so I wanted to stay in my sleeping bag, and then I had to dry my tent, filter water, backflush my filter, and bury my moldy tortillas. Plus, I was just tired and lazy. By the time I hit the trail, it was past noon.

  p All of today was spent going around/over two huge mountains. The first part was going up an old logging road, which was a really cool hike. There were massive aspen groves every half mile or so around little streams that went down the mountain. One in particular was really awesome, since the stream tumbled down some rocks and then went underneath the trail without the need for metal pipe. It was magical. Today was definitely my favorite scenery so far on the trip.

  p Went above 2 miles high for the first time this trip, and tomorrow I'll almost hit 11,000 feet. Only saw one other person all day today.

  p Physically, I was pretty tired today after yesterday's mileage. I have two blisters that have been growing but haven't popped or started to affect my stride yet. Otherwise, I'm holding up well, and it helps that my pack is getting lighter each day (and there are plenty of streams, so I don't have to carry 4 pounds of extra water). Chances of making it all the way to Leadville are low now, but I think I should be able to break 100 total miles easily.

  p Made camp at the edge of a huge meadow next to a nice stream. According to the Colorado Trail guidebook, this is "an unusually straight, 6-mile meadow" that I'll be following up tomorrow. Cool!

  p I timed dinner and it takes about 3.5 minutes to boil 16 ounces of water on my stove at a quarter-turn of gas with my smallest pot with the lid on. I'm pretty sure I could have gotten away with one gas canister.

  p
    span <strong>Breakfast</strong>: Mountain House Rice and Chicken (4/5)
    br
    span <strong>Dinner</strong>: Mountain House Pasta Primavera (4.5/5)
  p
    span <strong>Time</strong>: 12:15 - 6:15 (6 hours)
    br
    span <strong>Distance</strong>: 9.2 mi
    br
    span <strong>Total</strong>: 49.4 mi


  h2 Day 5
  p It drizzled all day today, which made for a surprisingly nice day but a complicated night.

  p Buried my freeze-dried bananas and strawberries this morning because the bag looked like it got chewed through by an animal. Not sure how since it was hung up in my closed pack, but didn't want to take any changes. Also buried my dried mangoes because I didn't like them. Coincidentally, today was the first day I really felt like my pack was significantly lighter.

  p Climbed up the meadow to start the day. It's a really cool meadow with a bunch of aspens lining the north side and a nice stream that had fish in it. Reached the saddle at the top of the meadow and then descended down the west side.

  p The rest of the day was spent traversing down and around a few mountains as I continue west. There were a ton of aspen groves today and it made for a really nice hike.

  p I made a campsite out in the middle of a meadow with a great view of the mountains to the south. This is probably my coolest camp so far. However, all my clothing and gear was at least damp from the nonstop rain, so drying out proved impossible. I also discovered a 4" diameter rash on my lower back that is probably from the damp and pressure from my backpack. Cell phone is out of battery and since it was cloudy all day my solar battery charger is also depleted. Hoping for some sun tomorrow!

  p <strong>Dinner</strong>: Mountain House Mexican Style Chicken and Rice 4/5
  p
    span <strong>Time</strong>: 10:15 - 6:00 (7.75 hours)
    br
    span <strong>Distance</strong>: 14.3 mi
    br
    span <strong>Total</strong>: 63.7 mi


  h2 Day 6
  p Today was another slow start. The morning was cold and my stuff was still damp from the rain yesterday. It is surprisingly impossible for stuff to dry inside the tent with the rainfly on because it makes it hard for drier air to circulate from the outside.

  p Finally got moving after noon. Filled up water and started climbing! Today was spent going up a valley and over a couple small mountains to reach Kenosha Pass. Slowly I am working my way towards an area between Breckenridge and Frisco.

  p I surprised myself today with how far west I was. I saw some big mountains in the distance and assumed one was Mount Evans. When I looked at my GPS though, I discovered that Evans was actually northeast of where I was, meaning I've hiked farther west than Georgetown!

  p Got to see the north end of Southpark from the trail with amazing lighting and ominous clouds in the background.

  p Made camp in a nice meadow next to a stream, but couldn't take a picture because my phone is completely out of batteries. I looked at my solar charger today and it appears that it needs 25 hours in the direct sun to charge it's internal battery completely (which should charge my phone about twice). So essentially for the remainder of the trip I'm going to have to keep my phone off almost all the time so that I can have 10% battery or so in case of an emergency.

  p <strong>Dinner</strong>: Mountain House Chicken Teriyaki with Rice 5/5
  p
    span <strong>Time</strong>: 12:30 - 6:00 (5.5 hours)
    br
    span <strong>Distance</strong>: 11.1 mi
    br
    span <strong>Total</strong>: 74.8 mi


  h2 Day 7
  p Today was a long and tough day. The first half was most of the work, and was going up and over Georgia Pass. On the east side where I started is Southpark, and on the west side is Keystone and the Lake Dillon area.

  p The hike up to the pass was actually not as bad as it could have been because it was a good trail with consistent and reasonable grades. The view from the top was amazing, with great views of both sides of the pass and a couple close 13ers.

  p The descent down the back of the pass was long and taxing. Downhill hiking with a pack on gets tiring after a while, especially when there is no break. I finally got my first true blisters today, and these are ones on my heels that won't be going away. I think that tomorrow will likely be my last day on the Colorado Trail partly because of this, and partly because I've been on the trail alone for a week and I'm ready to return to civilization.

  p Today the scariest thing of the trip happened to me. In the final mile before my intended camp, I heard a dogs barking in the canyon I was hiking down. I didn't really think much of it until I started getting closer and hearing more and more–maybe 30 dogs, all barking nonstop! It was really eerie because I couldn't see what was going on. I thought it was either of two things: 1) a large group of campers had left their dogs chained up and they were being attacked by a pack of coyotes, or 2) there was a dogfighting ring. I ruled both of these scenarios absurd and pressed on, my knife in my front pocket just in case. When I passed by it looked like a big dog kennel or animal rescue. Turns out it is a dog sledding business. Go figure.

  p Camped on the edge of a clearing by a stream. Didn't sleep that well but did finish A Dance with Dragons (all caught up with the Game of Thrones books)!

  p <strong>Dinner</strong>: Mountain House Noodles and Chicken 3.5/5
  p
    span <strong>Time</strong>: 8:45 - 5:00 (8.25 hours)
    br
    span <strong>Distance</strong>: 16.6 mi
    br
    span <strong>Total</strong>: 91.4 mi


  h2 Day 8
  p Today was my last day on the Colorado Trail and unfortunately my least favorite. I was tired and had blisters, and the scenery was not too interesting and fairly sad, since the trail went through areas ravaged by the pine beetle.

  p I essentially had three uphill segments, separated by longer downhill segments so that there was a net elevation loss. At one point there were tens of thousands of cut down lodgepole pine trees thrown into piles, and a group of about 25 people with chainsaws cutting down the whole forest because it was all dead. Stopped to talk with one of the workers. He said that they would burn all the trees this winter and that fortunately the past three years of non-drought have stopped the pine beetle epidemic. They're still around, but not nearly as insane as they were a few years ago at the tail end of a ten year drought.

  p Finally descended down into the valley that leads from Lake Dillon up to Breckenridge and finished at Gold Hill Trailhead. My dad picked me up shortly thereafter.

  p Overall, it has been an amazing trip and experience and I will most definitely be completing the entire Colorado Trail sometime in the next few years!

  p
    span <strong>Time</strong>: 9:30 - 3:45 (6.25 hours)
    br
    span <strong>Distance</strong>: 13 mi
    br
    span <strong>Total</strong>: 104.4 mi


  h2 Stats
  p
    span <strong>Total Time</strong>: 57.5 hours
    br
    span <strong>Total Distance</strong>: 104.4 miles
    br
    span <strong>Average Speed</strong>: 1.81 miles/hour
    br
    span <strong>Average Daily Distance</strong>: 13 miles
    br
    span <strong>Total Elevation Gain</strong>: 17612 feet
    br
    span <strong>Total Elevation Loss</strong>: 13937 feet
    br
    span <strong>Net Elevation Gain</strong>: 3675 feet
