extends ../../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'The Great Car Experiment of 2015 is Over'
  - postDate = 'October 19, 2015'


block post
  p After living in my car for the past month and a half, the experiment has ended.

  <strong>It was great.</strong>

  p At the beginning, people thought I was crazy to do something like this.  My parents understandably never got used to it.  Overall, I immensely enjoyed the experience, and I would definitely do it again in the future without any qualms.

  p However, as the experiment progressed, I realized I wasn't truly <i>living out</i> of my car; I was really just <i>sleeping in</i> my car.  You could say I "cheated" by taking advantage of eBay perks like free breakfast and 24/7 bathroom access.  I'm inclined to agree, but I wasn't trying to prove a point with this experiment.  I simply wanted to try something new.  Mission accomplished!




  h2 The Setup

  h3 Front seats

  a(href='http://i.imgur.com/N6PcFzJ.jpg')
    img(src='http://i.imgur.com/N6PcFzJm.jpg')

  ol
    li 24oz and 40oz Hydroflask water bottles
    li Power inverter
    li Backpack
      ul
        li Personal laptop, work laptop, charger
        li Mouse, mousepad, headphones
    li Shoes
      ul
        li Sperrys
        li Climbing shoes & chalk bag
        li Running shoes

  h3 Left rear seat

  a(href='http://i.imgur.com/VP0FrNJ.jpg')
    img(src='http://i.imgur.com/VP0FrNJm.jpg')

  ol
    li Laundry bag
    li Gym bag
    li Duffel bag
      ul
        li Ziploc bags
        li Nail & toenail clippers
        li Toiletry bag
          ul
            li Toothbrush, toothpaste, deodorant, floss picks, retainer
            li Electric razor, comb
        li Clothes
          ul
            li 12 shirts
            li 2 jeans
            li 4 workout shirts, 2 workout shorts
            li Hoodie, socks, underwear
            li 1 <a href="http://www.planetbuff.com/survivor-30th-season-anniversary-commemorative-buff-tiger-orange.html" target="_blank">Buff</a>

  h3 Right rear seat

  a(href='http://i.imgur.com/U0NiatC.jpg')
    img(src='http://i.imgur.com/U0NiatCm.jpg')

  ol
    li Futon
    li Blanket
    li Pillow

  h3 Sleeping arrangement

  a(href='http://i.imgur.com/Dzzwy1C.jpg')
    img(src='http://i.imgur.com/Dzzwy1Cm.jpg')




  h2 Typical Schedule

  ol
    li Wake up at 6:15am - 7:15am (sunrise, which progressively got later)
    li Planet Granite
      ul
        li Rock climb, lift weights, and/or run
        li Shower (free towels, free soap), shave, brush teeth
    li Go to work
      ul
        li Free breakfast, usually eggs, fruit, potatoes, parfaits
        li Go out to lunch or eat cereal (free milk) at the office
    li Do stuff
      ul
        li Hang out with friends
        li Work on personal stuff at the office
        li Read
        li Walk around aimlessly
    li Go to sleep around 11:00pm




  h2 Things that Should Have Been Hard (but weren't)

  p <strong>Sleeping</strong>: My futon (which I've been sleeping on for years and is the most comfortable bed I've ever slept on) fit almost perfectly in the back of the Subaru.  Lying down flat, my entire body fit on the mattress easily.  It was pretty dark at night; I parked under a parking lot lamp post that had burnt out.  When they fixed the light a few weeks in, I parked under trees that provided shade from the lights.  Waking up early was pretty easy too, since I went to bed earlier and I was getting up at sunrise.

  p <strong>Laundry</strong>: Found a great laundromat right next to Planet Granite: wash, dry, and fold for about two weeks of clothing was $15.

  p <strong>Showering</strong>: Planet Granite gave me free showers with my expensive membership.  They provided towels, shampoo, conditioner, and body wash.  This was really nice because I didn't have to try drying a towel and soap bottles inside my car.

  p <strong>Bathroom</strong>: I had 24/7 access to the eBay building, so restrooms were always a minute walk away.

  p <strong>Security</strong>: Never interacted the people who patrol the parking lot.  I registered my car with them as "long-term parking".  Not sure if they knew someone was sleeping in it.




  h2 Things I Learned

  ul
    li Getting up early and exercising every morning is really good for me
    li I don't need as many things as I own
    li Being able to cook in your own kitchen is nice




  h2 Until Next Time

  p I wrote in an email to some family: "Car living is officially... on hiatus."  I'm maybe kidding.
