extends ../../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'Big Sur Backpacking Trip'
  - postDate = 'February 17, 2015'


block post
  p Just got back from a 4-day backpacking trip in the Big Sur area.  It was a really nice trip with Matt, Ryan, and Vanessa.  Apart from Matt's knees, we all had a blast.  Highlights of the trip include a Hydroflask growler of Cellarmaker Mad Nibs, Ryan forgetting to bring a spork (and eventually claiming that it's in some way better to drink soupy Mountain House right out of the bag), and an outrageously awesome campsite at Pat Spring Camp.

  p Group photo album is <a href="https://www.facebook.com/media/set/?set=a.10204261831880743&type=1&l=d0e2e975c9" target="_blank">here</a>.


  h2 Day 1
  p Hiked Skinner Ridge Trail to Pat Spring Camp. Got kind of a late start; stayed up until 3:30am the night before and slept in an hour extra. Went to Bill's for breakfast before driving down to the Bottchers Gap.

  p Talked with the campground manager there who immediately destroyed our plans for a loop with a few off-trail miles. Apparently those few miles could have taken days depending on the amount of brush.

  p Started hiking at noon and started the long grind up the trail. Essentially the day consisted of going over three mountains as we wound our way along the north ridge of a large drainage area west of Ventana Double Cone.

  p By the time we reached the junction to Comings camp, it was clear there was no way we were going to be able to do our full loop anyways; Matt's knee was hurting him a lot, especially on the downhill sections. Since we were already at a good stopping point for the day, we decided to check out Comings Camp.

  p The trail down to the camp was very overgrown and crossed with many downed trees. Eventually Ryan and I left Matt (knee) and Vanessa (shorts) to scout out the camp. The trail was pretty steep and had deep leaves covering it. Camp was a neat flat area covered in leaves with complete tree coverage. However, the spring was full of standing water, so we decided to press on to Pat Spring Camp.

  p About halfway to the camp the sun set, and Matt's knee was bothering him more. We put our headlamps on and finished the last hour in the dark. At one point while refilling water, we heard yelling and an emergency whistle. Four headlamps were bobbing down a nearby trail, but it sounded like they were running after their dog.

  p Finally got to camp, set up the tents, made dinner, and went to sleep.

  p
    span <strong>Dinner</strong>: Mountain House Rice and Chicken (4/5)
    br
    span <strong>Beer</strong>: None, too tired!
  p
    span <strong>Time</strong>: 12:00 - 7:00 (7 hours)
    br
    span <strong>Distance</strong>: 7.0 mi
    br
    span <strong>Total</strong>: 7.0 mi


  h2 Day 2
  p Today was a day of rest to give Matt's knee some time to recover. Woke up, made breakfast, and scouted out Pat Spring Camp proper (we stayed at a random camp off the trail a quarter mile before Pat Spring). The actual camp is at the top of a hill with a beautiful 270° overlook of the entire drainage area, Ventana Double Cone, Pico Blanco, and the ocean. We packed up camp and moved our stuff to the prime time spot at Pat Spring Camp around 11am, well before anyone else arrived at the camp for the day.

  p We then set up my rainfly as a sunshade and began playing card games, reading, and just hanging out. It was really relaxing, we had ample water from the nearby Pat Spring, and of course we decided to break out the brews! Ate some salami and crackers for lunch and washed it down with a growler of pre-acquisition 10 Barrel OG.

  p After a breathtaking sunset we made a classic white man's fire, ate dinner, drank a growler of Cellarmaker Mad Nibs, and went to sleep outside under the stars!

  p
    span <strong>Dinner</strong>: Mountain House Chicken Teriyaki (5/5)
    br
    span <strong>Beer</strong>: 10 Barrel OG, Cellarmaker Mad Nibs
  p
    span <strong>Time</strong>: N/A
    br
    span <strong>Distance</strong>: 0.0 mi
    br
    span <strong>Total</strong>: 7.0 mi


  h2 Day 3
  p Today we started going back the way we came, in total covering about 2/3 of the distance back to the car. It was pretty warm and we were uncertain if we would find water, so we filled the two empty growlers as well as the pouches.

  p We got to the junction to turn off to Apple Tree Camp and I scouted out the campsite.  It’s in a nice little valley with a nice stream and waterfall running by it.  We finished off the salami for lunch and went down to the camp.  We didn’t set up all of our gear because a guy was using the campsite while he filtered and boiled water, which turned out to be good for us in the long run.  We saw an owl sleeping on a branch really close to us, which was pretty neat.  We put the canned beer on cooldown in the stream and played some cards.

  p Once the sun went down the campsite got really cold and damp, so we decided to find a different campsite out of the valley.  Found a pretty cool one off the trail partway up the ridge, and ate dinner.  Played spades for a couple hours in my tent (Matt and I crushed them), then went to sleep.

  p
    span <strong>Dinner</strong>: Mountain House Turkey Tetrazzini (4/5)
    br
    span <strong>Beer</strong>: Kirin Ichiban, Anderson Valley Blood Orange Gose
  p
    span <strong>Time</strong>: 11:30 - 7:00 (7.5 hours)
    br
    span <strong>Distance</strong>: 4.7 mi
    br
    span <strong>Total</strong>: 11.7 mi


  h2 Day 4
  p Today was a nice, easy, downhill hike out to Bottcher’s gap.  It was a little surreal because none of us really recognized any of the trail on the way out, probably because we were delirious from lack of sleep on the way in.  Regardless, the hike was easy and pleasant; a great end to a great trip!

  p
    span <strong>Time</strong>: 10:00 - 12:00 (2 hours)
    br
    span <strong>Distance</strong>: 3.1 mi
    br
    span <strong>Total</strong>: 14.8 mi
