extends ../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'cuDNN Conv. Algorithm Selection in PyTorch'
  - postDate = 'Oct. 2020'


block post
  p to be completed...

  p &#8212; Ali
